

footer {
  background-color: $secondary-color;
  transition: background-color 0.3s ease-in-out;
  padding: 10px 0;
  margin-top: 0;
  
  &:hover {
    background-color: lighten($secondary-color, 10%);
  }

  .footer-icon {
    width: 40px;
    height: 40px;
    transition: transform 0.3s ease;

    &:hover {
      transform: scale(1.1);
    }
  }
}

