header {
  background-color: $primary-color;
  font-size: 1.8rem;
  font-family: "Inconsolata", monospace;
}

.logo {
  max-width: 200px;
  opacity: 0.7;
  border-radius: 9px;
}

.nav {
  display: flex;
  justify-content: flex-end;

  .nav-link {
    margin-left: 15px;
    border-radius: 20px;
    transition: background-color 0.3s;
    text-decoration: none;
    color: $text-color-light;
    padding: 10px 20px;
    background-color: transparent;

    &:hover {
      background-color: rgba($text-color-light, 0.2);
    }
  }
}
